@model PassportManagementSystem.Models.PassportApplication
@{
    ViewBag.Title = "Passport ReIssue";
    PassportManagementSystem.Models.PassportApplication userdata = (PassportManagementSystem.Models.PassportApplication)ViewBag.data;
    <link href="~/Styles/PassportReIssue.css" rel="stylesheet" />
}

<h3 class="title-register">PASSPORT RE-ISSUE</h3>
<div style="float:right;color:red;font-weight:bold;margin-right:10%;">* All Fields are Required</div>
<div class="register-form">
    @using (Html.BeginForm())
    {
    <div class="div-left">
        <div class="form-group">
            @Html.DropDownListFor(a => a.ReasonForReIssue, new List<SelectListItem> {
                       new SelectListItem { Value = "Validity Expired" , Text = "Validity Expired" },
                       new SelectListItem { Value = "Exhaustion of Pages" , Text = "Exhaustion of Pages" },
                       new SelectListItem { Value = "Passport Damaged" , Text = "Passport Damaged " },
                       new SelectListItem { Value = "Passport Lost" , Text = "Passport Lost" }
                    }, "-- Select Reason for ReIssue -- *", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ReasonForReIssue, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(a => a.UserID, new { @class = "form-control", @Value = ViewBag.UserID, @readonly = "true" })
            @Html.ValidationMessageFor(a => a.UserID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(a => a.Country, new { @class = "form-control", @placeholder = "Country *" })
            @Html.ValidationMessageFor(a => a.Country, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(a => a.State, new SelectList(ViewBag.state, "STATE_NAME", "STATE_NAME", ViewBag.statename), "-- Select your State -- *", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.State, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(a => a.City, new SelectList(""), "-- Select your City -- *", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.City, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="div-right">
            <div class="form-group">
                @Html.TextBoxFor(a => a.PassportNumber, new { @class = "form-control", @placeholder = "Old Passport Number *" })
                @Html.ValidationMessageFor(a => a.PassportNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.Pin, new { @class = "form-control", @placeholder = "Security Pin Number *", @type = "number" })
                @Html.ValidationMessageFor(a => a.Pin, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(a => a.TypeOfService, new List<SelectListItem> {
                          new SelectListItem { Value = "Normal" , Text = "Normal" },
                          new SelectListItem { Value = "Tatkal" , Text = "Tatkal" }
                       }, "-- Select Type of Service -- *", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.TypeOfService, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(a => a.BookletType, new List<SelectListItem> {
                          new SelectListItem { Value = "30 Pages" , Text = "30 Pages" },
                          new SelectListItem { Value = "60 Pages" , Text = "60 Pages" }
                       }, "-- Select Type of Booklet -- *", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.BookletType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.IssueDate, new { @class = "form-control", @placeholder = "Issue Date *", @onfocus = "this.type='date'" })
                @Html.ValidationMessageFor(a => a.IssueDate, "", new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-primary" value="SUBMIT" style="float:right;margin-right:37%;margin-top:5%;" />
        </div>
        if (userdata != null)
        {
            <div class="alert alert-dismissible alert-success" style="position:absolute;margin:2% 22% 0% 22%;width:40%;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Dear User,</p>
                <p>Please note down your New Passport ID <span style="color:mediumblue">@userdata.PassportNumber</span>.</p>
                <p>Passport Re-Issue is Successfully done.</p>
                <p>Amount to be paid is Rs. <span style="color:mediumblue">@userdata.Amount</span>.</p>
                <p>New Passport issue date is <span style="color:mediumblue">@userdata.IssueDate.ToString("dd-MMM-yyyy")</span> and Expiry Date is <span style="color:mediumblue">@userdata.ExpiryDate.ToString("dd-MMM-yyyy")</span>.</p>
            </div>
        }
        if (ViewBag.error != null)
        {
            <div class="alert alert-dismissible alert-danger" style="position:absolute;margin:22% 22% 0% 28%;width:27%;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>@ViewBag.error</span>
            </div>
        }
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#State').change(function () {
            $.ajax({
                type: "post",
                url: '/PassportManagementSystem/GetCity?STATE_NAME=' + $(this).val(),
                contentType: "html",
                success: function (response) {
                    $("#City").empty();
                    $("#City").append(response);
                }
            });
        });
    })
</script>